{% extends 'base.html' %}

{% block title %} 

{% endblock %}

{% block content %}
<canvas id="myCanvas" width="900" height="500" 
        style="border:1px solid #000000;"></canvas>
    <form action="\farmer" method = "POST">
        <label>Enter the x coordinate of the upper left corner of the grounds</label>
        <input type = "number" id = "x1" min="0" max="899">
        <br>
        <label>Enter the y coordinate of the upper left corner of the grounds</label>
        <input type = "number" id = "y1" min="0" max="499">
        <br>
        <label>Enter the x coordinate of the lower right corner of the grounds</label>
        <input type = "number" id = "x2" min="0" max="899">
        <br>
        <label>Enter the y coordinate of the lower right corner of the grounds</label>
        <input type = "number" id = "y2" min="0" max="499">
        <button onclick="drawRect()" type="button">add</button>
    </form>
<script src="canvas.js"></script>
    
{% endblock %}